header {
    width: 100%;
    height: max-content;
    background-color: white;
    display: block;
}

.head_nav1 {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.minuteur {
    width: 80%;
    display: none;
    justify-content: end;
    padding-right: 3%;
}

.minuteur .ms {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.minuteur .ms img {
    width: 8%;
}

.minuteur .ms h4 {
    font-size: 1.1vw;
    font-weight: 550;
}

.minuteur .ms h3 {
    padding: 2.2% 7% 2.2% 7%;
    background-color: rgb(65, 65, 65);
    color: white;
    font-size: 1.3vw;
    font-weight: 500;
    text-align: center;
    border-radius: 2px;

}

.link_logo {
    width: 14%;
    height: 100%;
}


.logo {
    width: 100%;
}

.head_nav1 ul {
    display: flex;
    align-items: center;
}

.li_group {
    width: 80%;
    justify-content: space-between;
}

.btn_group {
    width: 30%;
    justify-content: space-between;
    margin: 0 2% 0 4%;
    height: max-content;
}

.btn_group li {
    height: max-content;
    background-color: #0066ff;
    border-radius: 5px;
    width: 45%;
    padding: 2.6% 0 2.6%;
    text-align: center;
    border: 1px solid #0066ff;
    transition: 0.7s;
}

.btn_group li:last-child:hover {
    background-color: #277cfb;
}

.btn_group li a {
    color: white;
    font-weight: lighter;
}

.btn_group li:first-child {
    background: none;
}


.head_nav1 a {
    color: black;
}

.head_nav1 ul li a {
    font-size: 0.95vw;
    font-weight: 550;
}

.head_nav1 .li_group li:hover a {
    text-decoration: underline;
}


.btn_group li:first-child:hover {
    background: #0066ff2c;
}

.btn_group li:last-child:hover {
    background: #569aff;
}

.btn_group li:first-child a {
    color: #0066ff;
}

.btn_group li:hover a {
    text-decoration: none;
}

.head_nav1 form {
    margin-right: 5%;
    display: flex;
    align-items: center;
    width: max-content;
}

.head_nav1 form input {
    font-size: 1.1vw;
    padding: 2.5% 2% 2.5% 2%;
    border-radius: 3px;
    border: 1px solid black;
}

.head_nav1 form button {
    background: none;
    font-size: 1.5vw;
    font-weight: 100;
    margin-right: 4%;
}

nav {
    width: 100%;
}

nav ul {
    width: 100%;
    height: max-content;
    background-color: #0066ff;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav ul li {
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5% 0 0.5%;
    padding: 1% 0.5% 1% 0.5%;
    transition: 0.7s;
    position: relative;
}

nav ul li a {
    color: white;
    font-size: 1.1vw;
}

nav ul li:hover {
    background-color: aliceblue;
}

nav ul li:hover .div_menus_ul {
    display: block;
}

nav ul li:hover a {
    color: #0066ff;
}

.div_img {
    height: max-content;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    position: relative;
    overflow: hidden;
}

.d1,
.d2 {
    width: 50%;
    height: max-content;
    position: relative
}

.d2 img {
    position: absolute;
    width: 140%;
}

.d2 img:nth-child(3) {
    left: -6%;
}

.d2 img:nth-child(2) {
    left: -2%;
}

.d2 img:nth-child(1) {
    left: 15%;
    width: 50%;
}

.d1 .title {
    width: 80%;
    height: max-content;
    margin: 25% 0 16% 15%;
    z-index: 1000;
}

.d1 .title h1 {
    font-size: 2.5vw;
    font-weight: 600;
    margin-bottom: 4%;
}

.d1 .title h1 b {
    color: rgb(216, 0, 0);
}

.d1 .title p {
    font-size: 1.2vw;
    font-weight: 500;
    width: 98%;
    word-spacing: 3px;
}

.d1 img {
    position: absolute;
    top: 0%;
}

.d1 img:nth-child(1) {
    width: 35%;
    left: 10%;
}

.d1 img:nth-child(2) {
    left: 50%;
    top: 15%;
    width: 7%;
}

.d1 img:nth-child(3) {
    top: 20%;
    right: 15%;
    width: 4%;
}

.d1 img:nth-child(4) {
    top: 23%;
    right: 2%;
    width: 7%;
}



/***** sous menu style **********/
.div_menus_ul {
    position: absolute;
    top: 100%;
    left: 0%;
    width: max-content;
    padding: 14% 8% 5% 8%;
    z-index: 5000;
    background: white;
    display: none;
}

.div_menus_ul .menu_ul {
    display: block;
    background: white;
    width: 20vw;
}

.div_menus_ul div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

.menu_ul li {
    display: flex;
    text-align: start;
    justify-content: start;
    font-size: 1.13vw;
    margin-top: 3%;
    padding: 1% 0 1%;
}

.div_menus_ul .menu_ul li a {
    color: black;
}

.menu_ul h3 {
    text-align: start;
    font-size: 1.14vw;
    font-weight: 550;
    margin-bottom: 4%;
}

.menu_ul li a {
    font-size: 1.1vw;
    color: black;
}

@media screen and (max-width: 720px) {
    .head_nav1 {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2%;
    }

    .li_group {
        width: 98%;
        margin-bottom: 2%;
    }

    .head_nav1 ul li a {
        font-size: 1.6vw;
    }

    .li_group ul {
        width: 35%;
    }

    .li_group ul li {
        width: 45%;
        margin: 0%;
    }

    .li_group ul li a {
        font-size: 1.8vw;
    }

    .link_logo {
        width: 25%;
        height: 100%;
    }

    .head_nav1 form {
        position: absolute;
        top: 1.5%;
        right: 25%;
        width: 40%;
    }

    .head_nav1 form button svg {
        font-size: 4vw;
        margin-right: 0%;
    }

    .head_nav1 form input {
        margin-left: 0%;
        width: 140vw;
        font-size: 2.5vw;
        padding: 2% 0 2%;
    }

    header nav li a {
        font-size: 1.7vw;
    }

    .div_img .title {
        margin-left: 4%;
        width: 100%;
        margin-top: 15%;
        margin-bottom: 2%;
    }

    .div_img .d1 {
        width: 90%;
    }

    .div_img .d1 img:nth-child(1) {
        width: 20%;
    }

    .div_img .d2 {
        display: none;
    }

    .div_img .title p {
        font-size: 2.2vw;
    }

    .minuteur {
        position: absolute;
        top: 3%;
        right: 2%;
    }

    .minuteur .ms {
        width: 60%;
    }

    .minuteur .ms h4 {
        font-size: 2vw;
    }

    .minuteur .ms img {
        width: 10%;
    }

    .minuteur .ms h3 {
        font-size: 2vw;
    }

}