.form_block {
    width: 60%;
    margin: 10% auto;
    display: flex;
    box-shadow: 0 0 3px rgb(122, 122, 122);
    border-radius: 4px;
}

.block_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    background: linear-gradient( rgb(157, 157, 255), rgb(0, 38, 255));
}

.block_img h2 {
    color: white;
    font-size: 2.2vw;
    position: absolute;
}

.form_block form {
    width: 55%;
    display: block;
    text-align: center;
    padding: 5% 3% 5% 3%;
}

.form_block form .div_input {
    width: 97%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 5%;
}

 .div_input div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_block .div_input div svg,
 form .div_input:nth-child(3) svg {
    font-size: 2.5vw;
    color: rgb(87, 87, 87);
}

.div_input div input {
    width: 85%;
    border-radius: 4px;
    border: 1px solid rgb(87, 87, 87);
    color: rgb(87, 87, 87);
    padding: 3.2% 2% 3.2% 2%;
    font-size: 1.1vw;

}

form li {
    width: 50%;
    list-style: none;
    margin: 8% 0 1%;
}

form li a {
    font-size: 1vw;
    text-align: start;
    color: rgb(0, 38, 255);
}

form .div_input:nth-child(3) div input {
    padding: 6% 2% 6% 2%;
    width: 100%;
}

.div_input span {
    font-size: 1vw;
    color: #ff5500;
}

form .div_input:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form .div_input:nth-child(3) div {
    flex-direction: column;
    width: 41%;
    margin-right: 1%;
}

form .btn_group {
    width: 95%;
    display: flex;
    border: 1px solid rgb(87, 87, 87);
    margin: 7% auto;
    border-radius: 30px;
}

form .btn_group button {
    width: 48%;
    background: rgb(122, 122, 122);
    color: white;
    font-size: 1.15vw;
    text-transform: uppercase;
    padding: 3% 0 3%;
    border-radius: 30px;
}

.no_active {
    background: white;
    color: black;
}

.active {
    background: rgb(122, 122, 122);
    color: white;
}

form .btn_group button:last-child {
    background: white;
    color: black;
}

form .btn_connect {
    width: 97%;
    color: white;
    background: rgb(66, 19, 255);
    padding: 3.2% 0 3.2%;
    border-radius: 4px;
    margin: 1.5% 0 5%;
    font-size: 1.2vw;
    text-transform: uppercase;
}

form .btn_connect:hover {
    background: rgb(97, 120, 249);
}
form p {
    font-size: 1.1vw;
    color: rgb(122, 122, 122);
    width: 97%;
    margin: auto;
}



form a {
    color: rgb(66, 19, 255);
}

form .p {
    width: 98%;
}

form p {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

form .link_connect {
    font-size: 1.3vw;
    margin-top: 3%;
}

form .link_connect:hover {
    text-decoration: underline;
}

form .orther_service {
    width: 97%;
    display: flex;
    margin: 4% auto;
}

form button{
    padding: 3.5% 0 3.5%;
    font-size: 1.1vw;
    text-transform: uppercase;
    width: 90%;
    background: none;
    color: rgb(0, 38, 255);
    font-weight: 550;
}

.orther_service div  {
    width: 10%;
    height: 100%;
    background: rgb(0, 38, 255);
    color: white;
    padding: 2.3%;
}

.orther_service:nth-child(7) {
    margin-bottom: 6%;
    border: 1px solid rgb(255, 49, 49);
}

.orther_service:nth-child(6) {
    border: 1px solid rgb(0, 38, 255);
}

form .orther_service:nth-child(7) div {
    background: rgb(255, 49, 49);
}

form .orther_service:nth-child(7) button {
    color: rgb(255, 49, 49);
}

.orther_service:nth-child(7) button:hover  {
    background: rgba(255, 49, 49, 0.196);
}

.orther_service:nth-child(6) button:hover {
    background: rgba(0, 38, 255, 0.139);
}

.orther_service div svg {
    font-size: 2vw;
}

.resetPwd {
    margin: auto;
    box-shadow: 0 0 3px rgb(122, 122, 122);
    border-radius: 4px;
}

.resetPwd p:nth-child(1) {
    width: 100%;
    font-size: 1.1vw;
    margin-bottom: 8%;
    margin-top: 4%;
    text-align: start;
}
.resetPwd .div_input {
    border: 1px solid rgb(122, 122, 122);
    padding: 0 0% 0 0%;
    width: 100%;
    border-radius: 4px;
}

.resetPwd .div_input svg {
    margin-left: 4%;
}

.resetPwd .div_input input {
    width: 85%;
    border: none;
}

.resetPwd button {
    width: 97.5%;
}

#reset {
    flex-direction: column;
    text-align: center;
    box-shadow: none;
}

#reset h1 {
    font-weight: 500;
    font-size: 2vw;
    margin-bottom: 2%;
}

#reset form {
    padding-top: 1%;
    padding-bottom: 5%;
    
}


@media screen and (max-width: 720px) {
    .block_img {
        display: none;
    }

    .form_block {
        width: 90%;
    }
    .form_block form {
        width: 98%;
        margin: auto;
    }

    .form_block form div input {
        font-size: 3vw;
    }

    .form_block form div svg {
        font-size: 5vw;
    }

    .form_block form .div_input  svg {
        font-size: 5vw;
    }

    .form_block form button {
        font-size: 2.3vw;
    }

    .form_block form p {
        font-size: 2.5vw;
        width: 100%;
    }   

    .form_block form li a {
        font-size: 2.3vw;
    }
    .form_block .link_connect{
        font-size: 4vw;
    }
}